:root {
    --low-gery                 : #c8c8c8;
    --high-gery                : #2A2A48;
    --error-color              : #F53C56;
    --success-color            : #2DCE98;
    --header-normal            : rgba(0,0,0,0);
    --header-scroll            : rgba(7,0,0,0.8);
    --primary-color            : #11CDEF;
    --checkbox-border          : #8898AA;
    --secondary-color          : #f571a5;
    --input-text-color         : #000000;
    --border-star-icon         : #999999;
    --gray-placeholder         : #333333;
    --border-close-icon        : #707070;
    --primary-text-color       : #ffffff;
    --primary-color-dark       : #00887e;
    --border-radio-button      : #979797;
    --border-shadow-color      : #BAD7F9;
    --secondary-text-color     : #b4b4c9;
    --app-background-color     : #000000;
    --secondary-color-dark     : #6F64F8;                    //#9A8CE8;
    --circle-tardanza-color    : #FB6340;
    --low-transparent-white    : rgba(255, 255, 255, 0.75);
    --dark-background-color    : #0C0C1C;
    --high-transparent-white   : rgba(255, 255, 255, 0.25);
    --light-background-color   : #172B4D;
    --input-background-color   : #F7FAFC;
    --border-star-select-icon  : #FFA84C;
    --background-action-buttons: #EDEDED;
    --primary-color-transparent: rgba(12, 199, 186, 0.5);
}