USE [master]
GO
/****** Object:  Database [DB_LIBRERIA]    Script Date: 31/10/2020 03:28:21 ******/
CREATE DATABASE [DB_LIBRERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_LIBRERIA', FILENAME = N'D:\SqlServer\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_LIBRERIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_LIBRERIA_log', FILENAME = N'D:\SqlServer\MSSQL15.SQLEXPRESS\MSSQL\DATA\DB_LIBRERIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_LIBRERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_LIBRERIA]
GO
/****** Object:  User [admin]    Script Date: 31/10/2020 03:28:21 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[TB_Asignatura]    Script Date: 31/10/2020 03:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Asignatura](
	[id_asig] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_Libro]    Script Date: 31/10/2020 03:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_Libro](
	[id_libro] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[asignaturaId] [int] NULL,
	[stock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_Libro]  WITH CHECK ADD FOREIGN KEY([asignaturaId])
REFERENCES [dbo].[TB_Asignatura] ([id_asig])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUpdateLibro]    Script Date: 31/10/2020 03:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddUpdateLibro]
@IdAsig INT,
@Descripcion VARCHAR(100),
@Stock INT,
@Libro_Id INT,
@Result INT OUTPUT
AS
BEGIN
IF(@Libro_Id > 0)
BEGIN
	UPDATE TB_Libro SET descripcion = @Descripcion, stock = @Stock, asignaturaId = @IdAsig
	WHERE id_libro = @Libro_Id
	SET @Result = @Libro_Id
END
ELSE
BEGIN
	INSERT INTO TB_Libro VALUES(@Descripcion,@IdAsig,@Stock)
	SET @Result = IDENT_CURRENT('TB_Libro')
END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteLibro]    Script Date: 31/10/2020 03:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteLibro]
@libro_id INT,
@Result INT OUTPUT
AS
BEGIN
DELETE FROM TB_Libro WHERE id_libro = @libro_id
SET @Result = @libro_id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetLibros]    Script Date: 31/10/2020 03:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetLibros]
@IdAsig INT,
@Descripcion VARCHAR(100),
@StockRagneInit INT,
@StockRangeLast INT
AS
BEGIN
SELECT
	id_libro,
	TBL.descripcion,
	id_asig,
	stock
FROM  TB_Asignatura TBA INNER JOIN 
	  TB_Libro TBL ON TBA.id_asig = TBL.asignaturaId
WHERE ( @IdAsig = 0 OR TBA.id_asig = @IdAsig ) AND
	  ( ISNULL(@Descripcion,'') = '' OR TBL.descripcion LIKE '%'+@Descripcion+ '%' ) AND
	  ( ( @StockRagneInit = 0 AND @StockRangeLast = 0) OR 
	    ( @StockRangeLast = 0 AND TBL.stock >= @StockRagneInit ) OR
		( @StockRagneInit = 0 AND TBL.stock <= @StockRangeLast ) OR
		( TBL.stock > = @StockRagneInit AND TBL.stock <= @StockRangeLast )
	  )
ORDER BY id_libro DESC
END
GO
USE [master]
GO
